@font-face {
  font-family: "Cruinn";
  src: url("../Cruinn Light.ttf");
}


.back{
  background-image: url("https://img.freepik.com/free-photo/abstract-background-light-gray-wallpaper-image_53876-108340.jpg?w=996&t=st=1699164291~exp=1699164891~hmac=816b4ea011a46be5639c1a92f72ded5ab7e9008019bda1424559ea622e8edbb8");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

}


body {
  background-color: #d7d4d4;
  font-family: "Cruinn";
}

.nav {
  background-color: #555555;
  height: 15%;

}

.nav input {
  margin-left: 29.25%;
  height: 3%;
  width: 40%;
  margin-top: 0.2%;
}

.loop {
  margin-top: 0.2%;
  width: 1.5%;
}

label {
  display: flex;
}

h1 {
  text-align: center;
}

.menu {
  display: flex;
  margin: 4%;
  font-size: 140%;
}

.menu-item {
  margin: auto;
  grid-area: a;
}

.topic {
  display: flex;
  height: min-content;
}

.item, .r-item {
  height: 25vh;
  padding: 1%;
  margin: 1%;
  border: 0px solid black;
  border-radius: 20px;
  background-color: #b2d2cf;

}

.item {
  width: 65%;
}

.item > h6 {
  margin: 0 2%;
  text-align: center;
}

.item > p {
  text-align: justify-all;
}


.r-item {

  width: 30%;
}

.r-item > div {

  width: 100%;
  display: flex;
  align-items: flex-start;
}

.text, p, h6 {
  word-wrap: break-word;
  margin: 2%;
  font-size: 100%;
}


img {
  width: 100%;
  height: 45%;}

.r-item img {
  width: 60%;
}

hr {
  width: 100%;
  height: 2px;
  color: black;
}

footer > span {
  float: right;
}

a {
  text-decoration: none;
  color: black;
}

.end {
  text-align: right;
}
.end  a{
  background-color: #b3d4fc;
  padding: 1%;
  border-radius: 5px;

}
.gpeg{
  z-index: -1;
}

@media (max-width: 600px) {
  .back{
    background-image: none;
  }
  .title{
    display: none;
  }
  .topic{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;

  }
  .item{
    width: 100%;
    float: right;
    height: 100%;
  }
  .r-item{
    width: 100%;
  }

  /*.menu{*/
  /*  display: grid;*/
  /*  width: 100%;*/
  /*  height: 100%;*/
  /*  grid-template-rows: repeat(2, 2fr);*/
  /*  grid-template-columns:repeat(2, 1fr);*/
  /*  grid-template-areas: "link1 link1"*/
  /*                        "linl1 link1";*/
  /*}*/
  /*.menu-item{*/
  /*  grid-area: link1;*/
  /*  color: red;*/
  /*}*/
  .menu{
    flex-wrap: wrap;
  }


}